@page "/"
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.DesignTokens



<FluentCard class="page" Appearance="Appearance.Filled">
    <PageTitle>Domovská stránka</PageTitle>

    <h1>Vítejte v rezervačním systému Teepee</h1>

    <p>Tento online systém vám umožní si navolit své směny popřípadě si je vyměnit pokud by se něco stalo</p>
</FluentCard>